<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /crm/app/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

php_value memory_limit 2048M
php_value max_execution_time 60000
php_value mysql.connect_timeout 24000
php_value default_socket_timeout 24000
